{% extends 'bootstrap4/bootstrap4.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Agremo | {% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="contaniner">
      <div class="content">
          {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
