{% extends 'bootstrap4/bootstrap4.html' %}
{% comment %} {% extends 'base.html' %} {% endcomment %}

{% load bootstrap4 %}

{% block bootstrap4_title %}Upload your file{% endblock  %}

{% block bootstrap4_content %}
    <div class="container">
        <h1>GIS Data Conversion and Analysis</h1>
        <form action="/" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% bootstrap_form form %}

            {% buttons %}
                <button type="submit" class="btn btn-primary">Submit</button>
            {% endbuttons %}
        </form>
    </div>
{% endblock bootstrap4_content %}